<?xml version="1.0"?>
<launch>

  <param name="/use_sim_time" value="true" />
  <arg name="world" default="playground" />	  

  <!-- start up gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find bot_gazebo)/world/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <arg name="model" default="$(find bot_description)/urdf/IG52DB.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -z 0.1 -model robot_model" respawn="false" output="screen" />

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="freq" value="30.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <remap from="scan" to="/laserscan"/>
    <param name="base_frame" value="base_footprint"/>
    <param name="odom_frame" value="odom_combined"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bot_gazebo)/launch/gazebo_mapping_demo.rviz"/>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop"/>

</launch>

